<div class="user-edit">
  <h1>ユーザー情報の編集</h1>
  <div class="user-edit-form">
    <% @user.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>

    <%= form_with model: @user do |f| %>
      <p>ユーザー名</p>
      <%= f.text_field :name %>
      <p>画像</p>
      <%= f.file_field :image %>
      <p>メールアドレス</p>
      <%= f.email_field :email %>
      <p>パスワード</p>
      <%= f.password_field :password, value: @user.password %>
      <p>セクシュアリティ</p>
      <%= f.select :sexual, [["female", "female"], ["male", "male"], ["FtM", "FtM"], ["FtX", "FtX"], ["MtF", "MtF"], ["MtX", "MtX"], ["Queer", "Queer"], ["DSD", "DSD"], ["その他", "その他"]], include_blank: "セクシュアリティを選択" %>
      <p>詳細なセクシュアリティ</p>
      <%= f.text_field :sexual_details %>
      <p>恋愛対象</p>
      <%= f.select :love, [["female", "female"], ["male", "male"], ["バイセクシュアル", "バイセクシュアル"], ["パンセクシュアル", "パンセクシュアル"], ["アセクシュアル", "アセクシュアル"], ["その他", "その他"]], include_blank: "恋愛対象を選択" %>
      <p>詳細な恋愛対象</p>
      <%= f.text_field :love_details %>
      <p>自己紹介</p>
      <%= f.text_area :introduction %>
      <%= f.submit "保存" %>
    <% end %>


  </div>
</div>

