<div class="dm">
  <h1>DMを送る</h1>
  <div class="message-form">
    <%= form_with model: @message do |f| %>
      <%= f.text_area :message %>
      <%= f.hidden_field :room_id %>
      <%= f.submit "投稿" %>
    <% end %>
  </div>

    <div class="message-list">
      <h1>トーク一覧</h1>
      <div class="message-item">
        <% @messages.each do |message| %>
          <div class="message">
            <div class="message-left">
              <img src="<%= "/images/#{@user.image}" %>" >
            </div>
            <div class="message-right">
              <div class="user-name">
                <%= message.user.name %><br>
              </div>
              <div class="user-content">
                <%= message.message %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <!--
  <table>
    <thead>
        <tr>
            <td>投稿者名</td>
            <td>投稿内容</td>
        </tr>
    </thead>
    <tbody>
        <% @messages.each do |message| %>
            <tr>
                <td><%= message.user.name %></td>
                <td><%= message.message %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>
-->